{% extends 'page/index.html.twig' %}

{% block heading %}Festival{% endblock %}

{% block subheading %}
    du
    <div class="dropdown" {{ stimulus_controller('dropdown', {startDate: '19'}) }}>
        <div tabindex="0" class="btn btn-dash flex border-1 border-dashed cursor-pointer hover:bg-black hover:border-transparent m-1 p-2 items-center" {{ stimulus_target('dropdown', 'btn') }}>
            <span {{ stimulus_target('dropdown', 'date') }}>19</span>
            <svg viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" class="size-5">
                <path d="M5.22 8.22a.75.75 0 0 1 1.06 0L10 11.94l3.72-3.72a.75.75 0 1 1 1.06 1.06l-4.25 4.25a.75.75 0 0 1-1.06 0L5.22 9.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" fill-rule="evenodd"></path>
            </svg>
        </div>
        <ul tabindex="0" class="menu dropdown-content bg-black color-white w-52 p-2 shadow-sm">
            <li><a {{ stimulus_action('dropdown', 'reset') }} class="menu-active">Avant-propos</a></li>
            {% for i in 19..27 %}
                <li><a {{ stimulus_action('dropdown', 'selectDate') }} data-id="#date-{{ i }}092025">{{ i }}</a></li>
            {% endfor %}
        </ul>
    </div>
    au 27 septembre 2025
{% endblock %}

{% block content %}
    <div {{ stimulus_controller('line-up') }} data-action="dropdown:changed@window->line-up#revealCard dropdown:reset@window->line-up#resetIntro">
        <div class="intro space-y-4 line-height text-base/4" {{ stimulus_target('line-up', 'intro') }}>
            <p>Après 30 concerts organisés en deux ans et demi à explorer avec passion le vaste spectre des musiques expérimentales, l'association dédale voit les choses en grand avec le dédale festival !</p>
            <p>Réunissant une ribambelle d'artistes d'ici et d'ailleurs, d'associations et de lieux avec qui nous avons déjà collaboré, le dédale festival cherche à faire sortir l'underground de sa niche...</p>
            <p>Au programme cinq concerts, chacun dédié à une esthétique particulière (noise, glitch, ambient, electroacoustic, post-trad), ainsi que quatre rendez-vous autour d'autres médiums : danse improvisée, cinéma expérimental, installations sonores, performances.</p>
            <p>Sur neuf jours les explorations soniques et performances avant-gardistes seront le contrepoint de votre train-train quotidien. Un carambolage entre les arts en bonne et due forme, pour venir titiller certaines zones encore inconnues de votre sensibilité.</p>
            <p>Chaque évènement sera disséminé à travers la ville, et fera vibrer un recoin du dédale... alors vous venez vous y perdre ?</p>
        </div>
        <div class="stack stack-start space-y-8 hidden" {{ stimulus_target('line-up', 'stack') }}>
            {% embed 'page/festival/lineup.html.twig' with {id: 19092025} %}
                {% block date %}Vendredi 19{% endblock %}
                {% block time %}20h–00h{% endblock %}
                {% block paf %}10€{% endblock %}
                {% block venue %}Café pompier{% endblock %}
                {% block address %}7 place Pierre Renaudel, 33800 Bordeaux{% endblock %}
                {% block content %}
                    <p class="text-base/4">Une soirée d'ouverture sous le signe de l'improvisation et du bruit, où l'accident est maitre et la collision créatrice. Intensité et sensations fortes garanties.</p>
                    <p class="text-xl text-right">🌶🌶🌶</p>
                    <div class="border-t-1 border-dashed"></div>
                    <ul class="line-up space-y-2">
                        <li>
                            <label for="lineup-19092025" class="drawer-button font-mono text-xs" {{ stimulus_action('line-up', 'revealDrawer', 'click') }}>
                                <a
                                    class="cursor-pointer hover:underline hover:decoration-dashed"
                                    data-turbo-frame="detail-19092025"
                                    href="{{ path('app_block_detail', {'slug': '19092025-jerome-noetinger-lionel-fernandez'}) }}"
                                >• Jérôme Noetinger ⨯ Lionel Fernandez •</a>
                            </label>
                            <p class="font-sans mt-1"><strong class="kbd">noise</strong> <span class="ml-1">(Bretagne/Isère)</span></p>
                        </li>
                        <li>
                            <label for="lineup-19092025" class="drawer-button font-mono text-xs" {{ stimulus_action('line-up', 'revealDrawer', 'click') }}>
                                <a
                                    class="cursor-pointer hover:underline hover:decoration-dashed"
                                    data-turbo-frame="detail-19092025"
                                    href="{{ path('app_block_detail', {'slug': '19092025-arnaud-riviere'}) }}"
                                >• Arnaud Rivière •</a>
                            </label>
                            <p class="font-sans mt-1"><strong class="kbd">harsh noise</strong><span class="ml-1">(Paris)</span></p>
                        </li>
                        <li>
                            <label for="lineup-19092025" class="drawer-button font-mono text-xs" {{ stimulus_action('line-up', 'revealDrawer', 'click') }}>
                                <a
                                    class="cursor-pointer hover:underline hover:decoration-dashed"
                                    data-turbo-frame="detail-19092025"
                                    href="{{ path('app_block_detail', {'slug': '19092025-ruhland-michel-doneda'}) }}"
                                >• Rühland + Michel Doneda •</a>
                            </label>
                            <p class="font-sans mt-1"><strong class="kbd">rock expé</strong><strong class="kbd">free impro</strong> <span class="ml-1">(Bordeaux/Dordogne)</span></p>
                        </li>
                        <li>
                            <label for="lineup-19092025" class="drawer-button font-mono text-xs" {{ stimulus_action('line-up', 'revealDrawer', 'click') }}>
                                <a
                                    class="cursor-pointer hover:underline hover:decoration-dashed"
                                    data-turbo-frame="detail-19092025"
                                    href="{{ path('app_block_detail', {'slug': '19092025-le-trou-noir'}) }}"
                                >• Le trou noir •</a>
                            </label>
                            <p class="font-sans mt-1"><strong class="kbd">free rock</strong> <span class="ml-1">(Bordeaux)</span></p>
                        </li>
                    </ul>
                {% endblock %}
            {% endembed %}
            {% embed 'page/festival/lineup.html.twig' with {id: 20092025} %}
                {% block date %}Samedi 20/09{% endblock %}
                {% block time %}20h–00h{% endblock %}
                {% block paf %}12€{% endblock %}
                {% block venue %}Cumulus{% endblock %}
                {% block address %}163 rue Emile Combes, 33270 Floirac{% endblock %}
                {% block content %}
                    <p class="text-base/4">Deuxième soirée 100% électronique avec des projets allant de la glitch à l'ambient en passant par des patterns algorithmiques. Onirisme numérique et crépitements de processeurs.</p>
                    <p class="text-xl text-right">🌶</p>
                    <div class="border-t-1 border-dashed"></div>
                {% endblock %}
            {% endembed %}
            {% embed 'page/festival/lineup.html.twig' with {id: 21092025} %}
                {% block date %}Dimanche 21/09{% endblock %}
                {% block time %}14h–18h{% endblock %}
                {% block paf %}Gratuit{% endblock %}
                {% block venue %}Parc aux angéliques{% endblock %}
                {% block address %}Quai des Queyries, 33000 Bordeaux{% endblock %}
                {% block content %}
                    <p class="text-base/4">Ambiance chill-out, apaisement et relaxation, résonnances purifiantes, caresse du vent, murmure de l'eau... </p>
                    <p class="text-xl text-right line-through">🌶</p>
                    <div class="border-t-1 border-dashed"></div>
                {% endblock %}
            {% endembed %}
            {% embed 'page/festival/lineup.html.twig' with {'id': 22092025} %}
                {% block date %}Lundi 22/09{% endblock %}
                {% block time %}20h–22h{% endblock %}
                {% block paf %}Gratuit{% endblock %}
                {% block venue %}Espace 29{% endblock %}
                {% block address %}29 rue Fernand Marin, 33000 Bordeaux{% endblock %}
                {% block content %}
                    <p class="text-base/4">Vernissage installation sonores + performances</p>
                    <div class="border-t-1 border-dashed"></div>
                {% endblock %}
            {% endembed %}
            {% embed 'page/festival/lineup.html.twig' with {id: 23092025} %}
                {% block date %}Mardi 23/09{% endblock %}
                {% block time %}20h–23h{% endblock %}
                {% block paf %}prix libre{% endblock %}
                {% block venue %}Château Pallettes{% endblock %}
                {% block address %}17 rue Élie Gintrac, 33000 Bordeaux{% endblock %}
                {% block content %}
                    <p class="text-base/4">Conférence cosmique avec Lazlo de l'association/label Scolopendre + Projections films expérimentaux</p>
                    <div class="border-t-1 border-dashed"></div>
                {% endblock %}
            {% endembed %}
            {% embed 'page/festival/lineup.html.twig' with {id: 24092025} %}
                {% block date %}Mercredi 24/09{% endblock %}
                {% block time %}20h–23h{% endblock %}
                {% block paf %}Prix libre{% endblock %}
                {% block venue %}Espace 29{% endblock %}
                {% block address %}29 rue Fernand Marin, 33000 Bordeaux{% endblock %}
                {% block content %}
                    <div class="border-t-1 border-dashed"></div>
                    <ul class="line-up space-y-2">
                        <li>
                            <p class="font-mono text-xs">• <a href="https://newsite.jeannesimone.com/compagnie/" target="_blank">Cie Jeanne Simone</a> •</p> <p class="font-sans"><strong class="kbd">Danse improvisée</strong> <span class="ml-1">(Bordeaux)</span></p>
                        </li>
                        <li>
                            <p class="font-mono text-xs">• <a href="https://octandre-asso.org/nous-soutenir/" target="_blank">Association Octandre</a> •</p> <p class="font-sans"><strong class="kbd">Live électroacoustique</strong> <span class="ml-1">(Bordeaux)</span></p>
                        </li>
                    </ul>
                {% endblock %}
            {% endembed %}
            {% embed 'page/festival/lineup.html.twig' with {id: 25092025} %}
                {% block date %}Jeudi 25/09{% endblock %}
                {% block time %}20h30–??{% endblock %}
                {% block paf %}7€–10€{% endblock %}
                {% block venue %}L'inconnue{% endblock %}
                {% block address %}181 rue François Boucher, 33400 Talence{% endblock %}
                {% block content %}{% endblock %}
            {% endembed %}
            {% embed 'page/festival/lineup.html.twig' with {id: 26092025} %}
                {% block date %}Vendredi 26/09{% endblock %}
                {% block time %}20h–23h{% endblock %}
                {% block paf %}Prix libre{% endblock %}
                {% block venue %}Château Pallettes{% endblock %}
                {% block address %}17 rue Élie Gintrac, 33000 Bordeaux{% endblock %}
                {% block content %}
                    <p class="text-base/4">Rebonds dans l'espace, des sons qui se balladent d'une enceinte à l'autre, et décrivent des formes que l'on a encore jamais entendues. La musique électroacoustique dans tout ses états.</p>
                    <p class="text-xl text-right">🌶🌶</p>
                {% endblock %}
            {% endembed %}
            {% embed 'page/festival/lineup.html.twig' with {id: 27092025} %}
                {% block date %}Samedi 27/09{% endblock %}
                {% block time %}20h–00h{% endblock %}
                {% block paf %}8€{% endblock %}
                {% block venue %}Les vivres de l'art{% endblock %}
                {% block address %}4 Rue Achard, Bordeaux{% endblock %}
                {% block content %}
                    <p class="text-base/4">Retour aux sources primitives de la musique, le bois qui résonne, la voix qui vrille, la ronde infinie. Avant-folk, drone et musique traditionnelles revisitées pour clôturer le festival.</p>
                    <p class="text-xl text-right">🌶</p>
                {% endblock %}
            {% endembed %}
        </div>
    </div>
{% endblock %}
