{% extends 'page/index.html.twig' %}

{% block heading %}Festival{% endblock %}

{% block subheading %}
    du
    <div class="dropdown" {{ stimulus_controller('dropdown') }}>
        <div tabindex="0" class="btn btn-dash m-1" {{ stimulus_target('dropdown', 'btn') }}>
            <span {{ stimulus_target('dropdown', 'date') }}>19</span>
            <svg viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" class="size-5">
                <path d="M5.22 8.22a.75.75 0 0 1 1.06 0L10 11.94l3.72-3.72a.75.75 0 1 1 1.06 1.06l-4.25 4.25a.75.75 0 0 1-1.06 0L5.22 9.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" fill-rule="evenodd"></path>
            </svg>
        </div>
        <ul tabindex="0" class="menu dropdown-content bg-black color-white z-1 w-52 p-2 shadow-sm">
            <li><a {{ stimulus_action('dropdown', 'select', 'click') }} class="day" data-id="#date-19092025">19</a></li>
            <li><a {{ stimulus_action('dropdown', 'select', 'click') }} class="day" data-id="#date-20092025">20</a></li>
            <li><a {{ stimulus_action('dropdown', 'select', 'click') }} class="day" data-id="#date-21092025">21</a></li>
            <li><a {{ stimulus_action('dropdown', 'select', 'click') }} class="day" data-id="#date-22092025">22</a></li>
            <li><a {{ stimulus_action('dropdown', 'select', 'click') }} class="day" data-id="#date-23092025">23</a></li>
            <li><a {{ stimulus_action('dropdown', 'select', 'click') }} class="day" data-id="#date-24092025">24</a></li>
            <li><a {{ stimulus_action('dropdown', 'select', 'click') }} class="day" data-id="#date-25092025">25</a></li>
            <li><a {{ stimulus_action('dropdown', 'select', 'click') }} class="day" data-id="#date-26092025">26</a></li>
            <li><a {{ stimulus_action('dropdown', 'select', 'click') }} class="day" data-id="#date-27092025">27</a></li>
        </ul>
    </div>
    au 27 septembre 2025
{% endblock %}

{% block content %}
    <div class="space-y-6" {{ stimulus_controller('line-up') }} data-action="dropdown:changed@window->line-up#showSelectedDate">
        <div class="intro space-y-4 line-height text-base/4 hidden">
            <p>Après 30 concerts organisés en deux ans et demi à explorer avec passion le vaste spectre des musiques expérimentales, l'association dédale voit les choses en grand avec le dédale festival !</p>
            <p>Réunissant une ribambelle d'artistes d'ici et d'ailleurs, d'associations et de lieux avec qui nous avons déjà collaboré, le dédale festival cherche à faire sortir l'underground de sa niche...</p>
            <p>Au programme cinq concerts, chacun dédié à une esthétique particulière (noise, glitch, ambient, electroacoustic, post-trad), ainsi que quatre rendez-vous autour d'autres médiums : danse improvisée, cinéma expérimental, installations sonores, performances.</p>
            <p>Sur neuf jours les explorations soniques et performances avant-gardistes seront le contrepoint de votre train-train quotidien. Un carambolage entre les arts en bonne et due forme, pour venir titiller certaines zones encore inconnues de votre sensibilité.</p>
            <p>Chaque évènement sera disséminé à travers la ville, et fera vibrer un recoin du dédale... alors vous venez vous y perdre ?</p>
        </div>
        <div class="stack" {{ stimulus_target('line-up', 'stack') }}>
            {% embed 'page/partials/lineUp.html.twig' %}{% endembed %}
            {% embed 'page/partials/lineUp.html.twig' %}
                {% block id %}date-20092025{% endblock %}
                {% block date %}Samedi 20/09{% endblock %}
                {% block time %}20h-00h{% endblock %}
                {% block paf %}12€{% endblock %}
                {% block content %}
                    <h4 class="font-mono text-sm card-title">Cumulus (163 rue Emile Combes, 33270 Floirac)</h4>
                    <p>Deuxième soirée 100% électronique avec des projets allant de la glitch à l'ambient en passant par des patterns algorithmiques. Onirisme numérique et crépitements de processeurs.</p>
                    <p>1 piment</p>
                {% endblock %}
            {% endembed %}
            {% embed 'page/partials/lineUp.html.twig' %}
                {% block id %}date-21092025{% endblock %}
                {% block date %}Dimanche 21/09{% endblock %}
                {% block time %}14h-18h{% endblock %}
                {% block paf %}gratuit{% endblock %}
                {% block content %}
                    <h4 class="font-mono text-sm card-title">Parc aux angéliques (Quai des Queyries, 33000 Bordeaux)</h4>
                    <p>Ambiance chill-out, apaisement et relaxation, résonnances purifiantes, caresse du vent, murmure de l'eau... </p>
                    <p>0 piment</p>
                {% endblock %}
            {% endembed %}
            {% embed 'page/partials/lineUp.html.twig' %}
                {% block id %}date-22092025{% endblock %}
                {% block date %}Lundi 22/09{% endblock %}
                {% block time %}20h-22h{% endblock %}
                {% block paf %}gratuit{% endblock %}
                {% block content %}
                    <h4 class="font-mono text-sm card-title">Espace 29 (29 rue Fernand Marin, 33000 Bordeaux)</h4>
                    <p>Vernissage installation sonores + performances</p>
                {% endblock %}
            {% endembed %}
            {% embed 'page/partials/lineUp.html.twig' %}
                {% block id %}date-23092025{% endblock %}
                {% block date %}Mardi 23/09{% endblock %}
                {% block time %}20h-23h{% endblock %}
                {% block paf %}prix libre{% endblock %}
                {% block content %}
                    <h4 class="font-mono text-sm card-title">Château Pallettes (17 rue Élie Gintrac, 33000 Bordeaux) • 20h-23h • prix libre •</h4>
                    <p>Conférence cosmique avec Lazlo de l'association/label Scolopendre + Projections films expérimentaux</p>
                {% endblock %}
            {% endembed %}
            {% embed 'page/partials/lineUp.html.twig' %}
                {% block id %}date-24092025{% endblock %}
                {% block date %}Mercredi 24/09{% endblock %}
                {% block time %}20h-23h{% endblock %}
                {% block paf %}prix libre{% endblock %}
                {% block content %}
                    <h4 class="font-mono text-sm card-title">Espace 29 (29 rue Fernand Marin, 33000 Bordeaux)</h4>
                {% endblock %}
            {% endembed %}
            {% embed 'page/partials/lineUp.html.twig' %}
                {% block id %}date-25092025{% endblock %}
                {% block date %}Jeudi 25/09{% endblock %}
                {% block time %}20h30{% endblock %}
                {% block paf %}7€-10€{% endblock %}
                {% block content %}
                    <h4 class="font-mono text-sm card-title">L'inconnue (181 rue François Boucher, 33400 Talence)</h4>
                {% endblock %}
            {% endembed %}
            {% embed 'page/partials/lineUp.html.twig' %}
                {% block id %}date-26092025{% endblock %}
                {% block date %}Vendredi 26/09{% endblock %}
                {% block time %}20h-23h{% endblock %}
                {% block paf %}prix libre{% endblock %}
                {% block content %}
                    <h4 class="font-mono text-sm card-title">Château Pallettes (17 rue Élie Gintrac, 33000 Bordeaux)</h4>
                    <p>Rebonds dans l'espace, des sons qui se balladent d'une enceinte à l'autre, et décrivent des formes que l'on a encore jamais entendues. La musique électroacoustique dans tout ses états.</p>
                    <p>2 piments</p>
                {% endblock %}
            {% endembed %}
            {% embed 'page/partials/lineUp.html.twig' %}
                {% block id %}date-27092025{% endblock %}
                {% block date %}Samedi 27/09{% endblock %}
                {% block time %}20h-00h{% endblock %}
                {% block paf %}8€{% endblock %}
                {% block content %}
                    <h4 class="font-mono text-sm card-title">• Samedi 27 septembre • Les vivres de l'art (4 Rue Achard, Bordeaux) • 20h-00h • 8€ •</h4>
                    <p>Retour aux sources primitives de la musique, le bois qui résonne, la voix qui vrille, la ronde infinie. Avant-folk, drone et musique traditionnelles revisitées pour clôturer le festival.</p>
                    <p>2 piments</p>
                {% endblock %}
            {% endembed %}
        </div>
    </div>
{% endblock %}
