{% set img = '<img loading="lazy" src="' ~ asset('images/octandre-bayle.webp') ~ '" alt="Association Octandre avec François Bayle en 2018">' %}
{% set bc = '<div style="left: 0; max-width: 700px; width: 100%; height: 120px; position: relative;"><iframe src="https://bandcamp.com/EmbeddedPlayer/album=3845360025/size=large/bgcol=333333/linkcol=ffffff/tracklist=false/artwork=small/transparent=true/" style="top: 0; left: 0; width: 100%; height: 100%; position: absolute; border: 0;" allowfullscreen></iframe></div>' %}

<article {{ stimulus_controller('listen', {img: img|json_encode}) }} class="m-4 lg:m-8">
    <picture {{ stimulus_target('listen', 'area') }}>
        {{ img|raw }}
    </picture>
    <div class="mt-3 flex gap-4 flex-wrap">
        <button class="btn btn-soft" {{ stimulus_action('listen', 'toggleBtns') }}>Écouter</button>
        <button class="btn btn-player hidden [.btn-active]:border-white [.btn-active]:border-1 [.btn-active]:border-dashed" {{ stimulus_action('listen', 'revealPlayer') }} data-embed="{{ bc }}">Bandcamp</button>
    </div>
    <div class="mt-3 flex gap-4 flex-wrap">
        <button class="btn btn-soft" {{ stimulus_action('listen', 'toggleBtns') }}>Site web</button>
        <a class="btn btn-player hidden" href="https://octandre-asso.org/nous-soutenir" target="_blank">https://octandre-asso.org/nous-soutenir &nearr;</a>
    </div>
    <div class="my-6">
        <h3 class="font-mono text-base">Association Octandre</h3>
    </div>
    <div class="space-y-4 text-base">
        <p>Onirisation • Cyril Gourvat.</p>
        <p>Immanence • Quentin Lachery.</p>
        <p>Dunkle Schwarz • Amaëlle Broussard.</p>
        <p>La porte est ouverte • Martin Koppe.</p>
        <p>Rebonds • Jean-Michel Rivet.</p>
        <p>De Natura Sonorum (1976) • Bernard Parmegiani.</p>
    </div>
</article>
