<li role="listitem">
    <a class="flex items-baseline w-[fit-content]" href="{{ path('app_page_index', {'id': 'festival'}) }}">
        <img
            src="{{ asset('images/logo.png') }}"
            class="max-w-[100px]"
            alt="Menu dédale festival"
        />
        <span class="font-expanded ml-2">Festival</span>
    </a>
</li>
<li role="listitem">
    <a class="font-expanded" href="{{ path('app_page_index', {'id': 'billeterie'}) }}">Billeterie</a>
</li>
<li role="listitem">
    <a class="font-expanded" href="{{ path('app_page_index', {'id': 'prog'}) }}">Programmation</a>
</li>
<li role="listitem">
    <a class="font-expanded" href="{{ path('app_page_index', {'id': 'archive'}) }}">Archives</a>
</li>
<li role="listitem">
    <a class="font-expanded" href="{{ path('app_page_index', {'id': 'contact'}) }}">Contact</a>
</li>
