<li role="listitem">
    <a class="flex items-baseline w-[fit-content]" href="{{ path('app_page_index', {'id': 'festival'}) }}">
        <img
            src="{{ asset('images/logo.png') }}"
            class="max-w-[100px]"
            alt="Menu dédale festival"
        />
        <span class="font-expanded ml-2">Festival</span>
    </a>
</li>
<li role="listitem">
    <a class="font-expanded" href="{{ path('app_page_index', {'id': 'billetterie'}) }}">Billetterie</a>
</li>
<li role="listitem" class="mb-8">
    <a class="font-expanded" href="mailto:dedale.bx@proton.me ">Contact &nearr;</a>
</li>
<li role="listitem" class="partners space-y-2 mb-2">
    <div class="font-sans text-lg">Social</div>
    <div class="flex gap-2 flex-wrap items-center">
        <a href="https://www.instagram.com/dedalebx/" target="_blank">
            <img class="size-10" src="{{ asset('images/insta.svg') }}" alt="">
        </a>
        <a href="https://www.facebook.com/quentin.guy" target="_blank">
            <img class="size-10" src="{{ asset('images/fb.svg') }}" alt="">
        </a>
    </div>
</li>
<li role="listitem" class="partners space-y-2">
    <div class="font-sans text-lg">Partenaires</div>
    <div class="flex gap-2 flex-wrap items-center">
        <a href="https://www.bordeaux.fr/" target="_blank">
            <img class="size-10" src="{{ asset('images/ville-de-bordeaux-noir-85.png') }}" alt="">
        </a>
        <a href="https://archi-pop.com/" target="_blank">
            <img class="h-6" src="{{ asset('images/archipop.png') }}" alt="">
        </a>
        <a href="http://pier.vidal.free.fr/">
            <img class="size-10" src="{{ asset('images/total-heaven.png') }}" alt="">
        </a>
        <a href="https://letype.fr/" target="_blank">
            <img class="h-6" src="{{ asset('images/letype.png') }}" alt="">
        </a>
    </div>
</li>
