<li role="menuitem">
    <a class="flex items-baseline w-[fit-content]" href="{{ path('page', {'id': 'festival'}) }}">
        <img
            src="{{ asset('images/logo.png') }}"
            class="max-w-[100px]"
            alt="Menu dédale festival"
        />
        <span class="font-expanded ml-2">Festival</span>
    </a>
</li>
<li role="menuitem">
    <a href="{{ path('page', {'id': 'billeterie'}) }}">Billeterie</a>
</li>
<li role="menuitem">
    <a href="{{ path('page', {'id': 'prog'}) }}">Programmation</a>
</li>
<li role="menuitem">
    <a href="{{ path('page', {'id': 'archive'}) }}">Archives</a>
</li>
<li role="menuitem">
    <a href="{{ path('page', {'id': 'contact'}) }}">Contact</a>
</li>
