<!DOCTYPE html>
<html lang="fr" data-theme="black">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Dédale • Bordeaux • Musique expérimentale & arts déviants{% endblock %}</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
    {% block stylesheets %}
    {% endblock %}

    {% block javascripts %}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}
</head>
<body class="h-screen">
<div class="h-full grid grid-cols-12 gap-4">
    {% block header %}
        <header role="banner" class="col-span-12 lg:col-span-3 m-6 mb-0 lg:m-16 mr-0">
            <div class="lg:mb-12">
                <a href="{{ path('home') }}">
                    <img
                        src="{{ asset('images/logo.png') }}"
                        class="max-w-[290px]"
                        alt="Logo dédale en écriture manuscrite"
                    />
                    <small class="text-sm whitespace-nowrap">Musique expérimentale <br>& arts déviants</small>
                </a>
            </div>
            <nav class="hidden lg:block">
                <ul class="flex flex-col space-y-6">
                    <li role="menuitem">
                        <a class="flex items-baseline w-[fit-content]" href="{{ path('page', {'id': 'festival'}) }}">
                            <img
                                src="{{ asset('images/logo.png') }}"
                                class="max-w-[100px]"
                                alt="Menu dédale festival"
                            />
                            <span class="font-expanded ml-2">Festival</span>
                        </a>
                    </li>
                    <li role="menuitem">
                        <a href="{{ path('page', {'id': 'billeterie'}) }}">Billeterie</a>
                    </li>
                    <li role="menuitem">
                        <a href="{{ path('page', {'id': 'prog'}) }}">Programmation</a>
                    </li>
                    <li role="menuitem">
                        <a href="{{ path('page', {'id': 'archive'}) }}">Archives</a>
                    </li>
                    <li role="menuitem">
                        <a href="{{ path('page', {'id': 'contact'}) }}">Contact</a>
                    </li>
                </ul>
            </nav>
        </header>
    {% endblock %}
    {% block body %}
        <main class="col-span-12 sm:col-span-8 lg:col-span-6 relative z-1">
            <section class="m-6 mb-0 lg:m-16 ml-4">
                <h1 class="font-expanded text-6xl lg:pt-18 pb-3">
                    {% block heading %}{% endblock %}
                </h1>
                <h3 class="font-mono text-xl pb-12">
                    {% block subheading %}{% endblock %}
                </h3>
                <div id="main-content">
                    {% block content %}{% endblock %}
                </div>
            </section>
        </main>
        <aside class="w-[320px] lg:w-1/3 absolute right-0 opacity-55 md:opacity-95">
            <header class="h-screen relative overflow-y-auto">
                {% block maze %}
                    <img src="{{ asset('images/maze-animated.svg') }}" alt="">
                {% endblock %}
            </header>
            {% block aside %}{% endblock %}
        </aside>
    {% endblock %}
</div>
</body>
</html>
